 <section class="module parallax parallax-2">
        <div class="container">
          <h2>Featured Stops on the Portland Streetcar</h2>
         </div>
    </section>  
<section class="module content">
  <div class="circle">
   <h1 class="heading mainDark">Eastside Streetcar Bar Map</h1>
      </div><hr>
      <div class="container-flex">    
      <figure class="card">
        <div class="feature"><a href="#">Best Wine</a></div>
        <figcaption class="caption">Here are our top three picks for best wine bars -- 
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </figcaption>
      </figure>
      <figure class="card">
        <div class="feature"><a href="#">Best Beers</a></div>
        <figcaption class="caption">Here are our top three picks for best beers and beer selections -- 
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>.</figcaption> 
      </figure>
     <figure class="card">
        <div class="feature"><a href="#">Best HH</a></div>
        <figcaption class="caption">Here are our top three picks for best happy -- 
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul></figcaption> 
      </figure>
     </div>
 </section>